.contract {
	width: 100%;
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.operation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--default-gap);
	flex-grow: 1;
}

.operation-header {
	display: flex;
	align-items: center;
	gap: var(--small-gap);
}

.operations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: var(--default-gap);
	width: 100%;
}

.operations__operation {
	text-align: left;
	width: 100%
}
