@import url("utilities.css");
@import url("./dusk/colors.css");
@import url("./dusk/language.css");
@import url("./dusk-components/anchor.css");
@import url("./dusk-components/button.css");
@import url("./dusk-components/card.css");
@import url("./dusk-components/icon.css");
@import url("./dusk-components/progress-bar.css");
@import url("./dusk-components/select.css");
@import url("./dusk-components/stepper.css");
@import url("./dusk-components/tabs.css");
@import url("./dusk-components/textbox.css");
@import url("./dusk-components/throbber.css");
@import url("./dusk-components/tooltip.css");
@import url("./app-components/headings.css");

@font-face {
	font-family: "Soehne";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/soehne-buch.woff2") format("woff2");
}

@font-face {
	font-family: "Soehne";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/soehne-kraftig.woff2") format("woff2");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	background-color: var(--page-background-color);
	color: var(--on-background-color);
	font-family: var(--main-font-family);
	font-size: var(--main-font-size);
	letter-spacing: 0.06125rem;
}

body {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	fill: currentColor;
}

#outer-container {
	background-color: var(--background-color);
	width: 60%;
	max-width: 40rem;
	max-height: 60rem;
	height: 80%;
	padding: 2rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	transition: all .2s ease-in-out 0s;
}

.duk-anchor-button:not(.duk-anchor-button__disabled),
.duk-button:enabled,
.duk-checkbox:enabled,
.duk-select:enabled,
.duk-textbox:enabled,
*[role="menuitem"] {
	transition: all .2s linear 0s;
}

:is(
	.duk-anchor-button:not(.duk-anchor-button__disabled),
	.duk-button:enabled,
	.duk-checkbox:enabled,
	.duk-select:enabled,
	.duk-textbox:read-write:enabled,
	*[role="menuitem"]):focus {
	border-color: color-mix(in srgb, var(--secondary-color-variant-dark) 80%, transparent);
	box-shadow: 0 0 .5em color-mix(in srgb, var(--secondary-color-variant-dark) 60%, transparent);
	outline: 0 none;
}

@media (max-width: 500px),
(max-height: 1000px) {
	html {
		font-size: calc(var(--main-font-size) - 3px);
	}
}

@media (max-width: 500px),
(max-height: 500px) {
	body {
		padding: 1rem;
	}
}

@media (max-width: 1024px) {
	#outer-container {
		width: 100%;
	}
}

@media (max-height: 1200px) {
	#outer-container {
		height: 100%;
	}
}

@media (max-height: 800px) {
	html {
		font-size: calc(var(--main-font-size) - 4px);
	}

	#outer-container {
		padding: 1rem;
		gap: 1rem;
		border-radius: 1.5rem;
	}
}
