.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.gap-1 {
	gap: 1em;
}

.gap-2 {
	gap: 2em;
}

.flex-1 {
	flex: 1;
}

/* Width */
.w-100 {
	width: 100%;
}
