.dusk-card {
	background-color: var(--surface-color);
	border-radius: 20px;
	padding: 1.5em;
}

.dusk-card__icon {
	margin-right: .4em;
}

.dusk-card__header {
	display: flex;
	margin-bottom: .5em;
	font-size: 1.3em;
	font-weight: 500;
}
