.dusk-mnemonic__validate_actions_wrapper {
	display: grid;
	gap: var(--default-gap);
	grid-template-columns: var(--mobile-grid-template-columns);
	margin-top: 1em;
}


.dusk-mnemonic__authenticate_actions_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.dusk-mnemonic__predictions_wrapper {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	gap: var(--small-gap);
	margin-top: 1em;
}

@media (min-width: 800px) {
	.dusk-mnemonic__validate_actions_wrapper {
		grid-template-columns: var(--desktop-grid-template-columns);
	}

	.dusk-mnemonic__predictions_wrapper {
		grid-auto-flow: column;
	}
}
