.dusk-status-list {
	background-color: var(--background-color);
	border-radius: 1.5em;
	padding: 0.5em 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--small-gap);
	width: 100%;
}
.dusk-status-list__key {
	display: flex;
	align-items: center;
	gap: var(--small-gap);
	letter-spacing: -0.01em;
	text-align: left;
}

.dusk-status-list__value {
	display: flex;
	align-items: center;
	gap: var(--small-gap);
	text-align: right;
	font-weight: 600;
	justify-content: end;
}

.dusk-status__icon {
	width: 1em;
	height: 1em;
	flex-shrink: 0;
}
