.duk-tooltip {
	--tip-size: .625em;
	--half-tip-size: calc(var(--tip-size) / 2);
	--tip-main-axis-offset:  -.0625em;

	border-radius: var(--control-border-radius-size);
	line-height: 1.5;
	padding: var(--control-padding);
	transition: opacity .2s ease-in-out 0s;
	opacity: 1;
}

.duk-tooltip[aria-hidden="true"] {
	opacity: 0;
}

.duk-tooltip.duk-tooltip-error {
	background-color: var(--error-color);
}

.duk-tooltip.duk-tooltip-info {
	background-color: var(--secondary-color);
}

.duk-tooltip.duk-tooltip-success {
	background-color: var(--success-color);
}

.duk-tooltip.duk-tooltip-warning {
	background-color: var(--warning-color);
}

.duk-tooltip::after {
	background-color: inherit;
	border: inherit;
	pointer-events: none;
	position: absolute;
	content: "";
	display: inline-block;
	width: var(--tip-size);
	height: var(--tip-size);
	transform: rotate(45deg);
	transform-origin: center;
}

.duk-tooltip.duk-tooltip-bottom::after {
	bottom: 100%;
	left: 50%;
	margin-left: calc(var(--half-tip-size) * -1);
	margin-bottom: calc(var(--half-tip-size) * -1 + var(--tip-main-axis-offset));
	border-bottom-color: transparent;
	border-right-color: transparent;
}

.duk-tooltip.duk-tooltip-left::after {
	top: 50%;
	left: 100%;
	margin-left: calc(var(--half-tip-size) * -1 + var(--tip-main-axis-offset));
	margin-top: calc(var(--half-tip-size) * -1);
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.duk-tooltip.duk-tooltip-right::after {
	top: 50%;
	right: 100%;
	margin-right: calc(var(--half-tip-size) * -1 + var(--tip-main-axis-offset));
	margin-top: calc(var(--half-tip-size) * -1);
	border-top-color: transparent;
	border-right-color: transparent;
}

.duk-tooltip.duk-tooltip-top::after {
	top: 100%;
	left: 50%;
	margin-left: calc(var(--half-tip-size) * -1);
	margin-top: calc(var(--half-tip-size) * -1 + var(--tip-main-axis-offset));
	border-top-color: transparent;
	border-left-color: transparent;
}
