.dusk-wizard {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: 100%;
}

.dusk-wizard__step-navigation {
    display: flex;
    flex-direction: row;
    gap: var(--default-gap);
}

.dusk-wizard__step-navigation button, .dusk-wizard__step-navigation a {
    flex: 1;
}